/* Media query para dispositivos com largura máxima de 375px */
@media (max-width: 23.44rem) {



  
    #app {
      display: grid;
      grid-template-columns: 51.25% 48.75%;
      width: 100%;
      height: 100vh;
      padding-top: 1.88rem;

     & main {
        display: flex;
        flex-direction: column; /*Coloca os elementos em coluna*/
        padding: 40px 10px;
      }

      & .main-container {
        width: 100%;
      }

      & h1{
        font-size: small;
        padding-bottom: .63rem;
      }

      & p {
        font-size: 1rem;
        
      }

      & .actions-wrapper {
        display: flex;
        flex-direction: column;

      }

      & textarea {
        font-size: x-small;
      }

      & input {
        font-size: x-small;
      }

      & svg {
        width: 1.45rem;        
      }
      & .droparea-wrapper p {
        font-size: x-small;
      }

      & .terms-wrapper label {
        font-size: x-small;
      }
    }
  
    

    aside {
        display: flex;
        flex-direction: column;
        padding: 40px 10px;

        & .aside-container {
            width: 100%;
        }

        & h2 {
            font-size: small;
            padding-top: 10px ;
        }

    }
}
  